<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2011 Tomas Vondracek.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Tomas Vondracek
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.tomas.StockAnalyze.test"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    <uses-library android:name="android.test.runner" />
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <instrumentation android:targetPackage="cz.tomas.StockAnalyze" android:name="android.test.InstrumentationTestRunner" />

<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
</manifest> 
