<?xml version="1.0" encoding="utf-8"?>
<!--
  StockAnalyze for Android
      Copyright (C)  2011 Tomas Vondracek.
  
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
  
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
  
      You should have received a copy of the GNU General Public License
      along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.tomas.StockAnalyze" 
	android:versionName="0.9.0" 
	android:versionCode="00900">
	
	<application android:icon="@drawable/ic_launcher" android:label="@string/app_name"
		android:name="cz.tomas.StockAnalyze.Application"
		android:debuggable="true" 
		android:theme="@style/themeLight" 
		android:allowBackup="true">
		<activity android:name=".StockAnalyze" android:label="@string/app_name">
			<intent-filter>
<!-- 				<category android:name="android.intent.category.LAUNCHER" /> -->
<!--				<action android:name="android.intent.action.MAIN" />-->
        	</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name=".activity.HomeActivity">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
        	</intent-filter>
		</activity>

		<activity android:name=".activity.StockListActivity"></activity>
		<activity android:name=".activity.StockSearchActivity"></activity>
		<activity android:name=".activity.StockDetailActivity"></activity>
		<activity android:name=".activity.StockChartActivity"	
			android:theme="@style/themeLightTitle"
			android:label="@string/activityPortfolio" />
		<activity android:name=".activity.PortfolioActivity"></activity>
		<activity android:name=".Portfolio.AddPortfolioItemActivity"
			android:theme="@style/themeLightTitle"
			android:label="@string/AddPortfolioItemActivityTitle"></activity>
		<activity android:name=".activity.NewsActivity"></activity>
		<activity android:name=".activity.AppPreferencesActivity" 
			android:label="@string/AppPreferencesActivityTitle"
			android:theme="@style/themeLightTitle"></activity>
		<activity android:name=".activity.AboutActivity" 
			android:label="@string/appAbout"
			android:theme="@style/themeLightTitle"></activity>
	<receiver android:enabled="true" android:permission="android.permission.ACCESS_NETWORK_STATE" android:name=".receivers.NetworkBroadcastReceiver">
		<intent-filter>
			<action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"/>
			<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		</intent-filter>
	</receiver>
	<receiver android:name=".receivers.AlarmReceiver"></receiver>

</application>
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<!--	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>-->
<!--	<uses-permission android:name="android.permission.EXTERNAL_STORAGE"></uses-permission>-->


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
